.About {
  font-size: 35px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: black;
  margin: 10px;
  padding: 5px;
  /* background-image: url("../../images/blackdiamond.jpg"); */
  background-color: gray;
  width: 1500px;
}

.list {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  /* width: 800px; */
}
ol {
  list-style: none;
}
li {
  width: 1000px;
  margin: 10px;
}
