img {
  height: 250px;
  width: 400px;
  border: solid white;
}

.Home {
  font-size: 20px;
  color: white;
  /* background-color: rgba(187, 40, 40, 0.5); */
  background-image: linear-gradient(
    rgba(70, 130, 180, 0.8),
    rgba(178, 34, 34, 0.8)
  );
  width: 1600px;
  border-radius: 50px;
}
