img {
  height: 250px;
  width: 400px;
  border: solid white;
}

.Home {
  font-size: 20px;
  color: white;
  /* background-color: rgba(187, 40, 40, 0.5); */
  /* background-image: linear-gradient(
    rgba(70, 130, 180, 0.8),
    rgba(178, 34, 34, 0.8)
  ); */
  /* background-color: green; */
  background-image: linear-gradient(
    rgba(121, 136, 151, 0.8),
    rgba(8, 106, 54, 0.5)
  );
  width: 95%;
  margin: 20px;
  border-radius: 50px;
}

.title {
  font-size: 50px;
}

.imgcontainer:hover {
  transform: scale(1.3); /* Zooms to 120% */
  transition: transform 0.5s ease;
}

.sectionTitle {
  font-size: 40px;
  text-decoration: underline;
}

.pieces {
  height: 200px;
  width: 900px;
  border: none;
  margin: 15px;
}

@media (max-width: 1600px) {
  .Home {
    font-size: 18px;
    width: 90%;
    margin: 15px;
    border-radius: 50px;
  }

  img {
    height: 200px;
    width: 280px;
  }
}
