img {
  height: 250px;
  width: 400px;
  border: solid white;
}

.Home {
  font-size: 20px;
  color: white;
  /* background-color: rgba(187, 40, 40, 0.5); */
  background-image: linear-gradient(
    rgba(70, 130, 180, 0.8),
    rgba(178, 34, 34, 0.8)
  );
  width: 100%;
  margin: 20px;
  border-radius: 50px;
}

@media (max-width: 1600px) {
  .Home {
    font-size: 18px;
    width: 90%;
    margin: 15px;
    border-radius: 50px;
  }

  img {
    height: 200px;
    width: 280px;
  }
}
