.LOGO {
  background-image: url("../../images/logos/WW\ Head.png");
  background-size: cover;
  width: 60%;
  height: 750px;
  margin: 10px;
}

.title {
  height: 450px;
  width: 800px;
}

@media (max-width: 1600px) {
  .LOGO {
    background-image: url("../../images/bg3.jpg");
    background-size: cover;
    width: 95%;
    height: 450px;
    margin: 10px;
  }

  .title {
    height: 300px;
    width: 550px;
  }
}
