.LOGO {
  /* background-image: url("../../images/wood\ metal8.png"); */
  /* background-color: #6b4f3a; */
  /* background-size: cover; */
  width: 100%;
  height: 650px;
  margin: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.titleContainer {
  background-image: url("../../images/WW\ Shelf.png");
  /* background-size: contain; */
  background-repeat: no-repeat;
  background-position: center;
  background-size: 95% 650px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.title {
  /* background-color: brown; */
  height: 700px;
  width: 1150px;
  border: none;
  margin: 5px;
}

@media (max-width: 1600px) {
  .LOGO {
    width: 95%;
    height: 500px;
    margin: 10px;
  }

  .title {
    height: 500px;
    width: 1000px;
  }
}
