.LOGO {
  background-image: url("../../images/wood1.png");
  background-size: cover;
  width: 100%;
  height: 600px;
  margin: 10px;
}

.title {
  height: 500px;
  width: 900px;
}

@media (max-width: 1600px) {
  .LOGO {
    background-image: url("../../images/bg3.jpg");
    background-size: cover;
    width: 95%;
    height: 450px;
    margin: 10px;
  }

  .title {
    height: 300px;
    width: 550px;
  }
}
