.Navbar {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  /* border: solid black; */
  /* background-color: black; */
  /* background-image: url("../../images/Patches/blackdiamon.jpg"); */
  background-size: contain;
  /* height: 100px; */
}

a {
  font-size: 25px;
  margin: 15px;
  background-image: url("../../images/Patches/PatchWhite2.jpg");
  color: blue;
  background-size: contain;
  background-repeat: no-repeat;
  width: 220px;
  height: 150px;
  float: left;
  align-items: center;
  display: flex;
  flex-direction: column;
  align-items: right;
  justify-content: center;
}
