.Navbar {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border: solid black;
  background-image: url("../../images/Patches/blackdiamon.jpg");
  background-size: contain;
}

a {
  font-size: 35px;
  margin: 15px;
  background-image: url("../../images/Patches/PatchRed.jpg");
  color: red;
  background-size: cover;
  background-repeat: no-repeat;
  width: 280px;
  height: 60px;
  align-items: center;
}
