.Navbar {
  display: flex;
  align-items: center;
  background-color: black;
  justify-content: space-evenly;
  /* border: solid black; */
  /* background-color: black; */
  background-size: contain;
  /* height: 100px; */
  display: flex;
  justify-content: space-evenly;
  width: 95%;
  margin: 10px;
}

a {
  /* background-image: url("../../images/PatchBlue.jpg"); */
  /* background-color: darkblue; */
  font-size: 30px;
  margin: 10px;
  color: white;
  font-weight: bold;
  background-size: contain;
  background-repeat: no-repeat;
  width: 220px;
  height: 80px;
  float: left;
  align-items: center;
  display: flex;
  flex-direction: column;
  align-items: right;
  justify-content: center;
}
