.App {
  text-align: center;
  background-color: black;
  color: red;
  padding: 10px;
  background-image: url("./images/Patches/black-white-Diamon.jpg");
  background-size: contain;
  height: 100vh;
}

img {
  margin: 20px;
}
