.App {
  text-align: center;
  padding: 10px;
  background-image: url("images/wood1.png");
  background-size: contain;
  /* background-repeat: no-repeat; */
  background-color: rgb(95, 58, 9);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  /* height: 100vh; */
}

img {
  margin: 50px;
  width: 500px;
  height: 50%;
}

h1,
h2,
h3 {
  color: white;
  width: 100%;
}

.TopContact {
  display: flex;
  background-image: url("./images/Darkgray002.JPG");
  width: 100%;
}
@media (max-width: 1600px) {
  .TopContact {
    display: flex;
    background-image: url("./images/Darkgray002.JPG");
    width: 95%;
  }
}
