.App {
  text-align: center;
  color: white;
  padding: 10px;
  background-image: url("./images/Patches/Burlap\ Gray2.JPG");
  /* background-size: contain; */
  /* height: 100vh; */
}

img {
  margin: 20px;
}

h1,
h2,
h3 {
  color: darkblue;
  background-color: lightblue;
  width: 100%;
}

.TopContact {
  display: flex;
  background-image: url("./images/Patches/PatchWhite2.jpg");
}
