.App {
  text-align: center;
  padding: 10px;
  background-color: #544444;
  /* background-size: contain; */
  /* background-repeat: no-repeat; */
  /* background-color: rgb(95, 58, 9); */
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 99%;
  /* height: 100vh; */
}

img {
  margin: 50px;
  width: 500px;
  height: 50%;
}

h1,
h2,
h3 {
  color: white;
  width: 100%;
}

.TopContact {
  display: flex;
  background-color: black;
  width: 98%;
  position: fixed;
}
@media (max-width: 1600px) {
  .TopContact {
    display: flex;
    width: 95%;
  }
}
